apimatic-core==0.2.21
apimatic-core-interfaces==0.1.6
apimatic-requests-client-adapter==0.1.7
asgiref==3.9.1
astroid==3.3.11
CacheControl==0.12.14
certifi==2025.7.14
cffi==2.0.0
charset-normalizer==3.4.2
confusable-homoglyphs==3.3.1
crispy-bootstrap5==2025.6
cryptography==46.0.1
defusedxml==0.7.1
dill==0.4.0
Django==5.2.4
django-crispy-forms==2.4
django-paypal==2.1
django-stubs==5.2.5
django-stubs-ext==5.2.5
future==0.15.2
idna==3.10
isort==6.0.1
jsonpickle==3.3.0
jsonpointer==2.4
mccabe==0.7.0
msgpack==1.1.1
mypy==1.18.1
mypy_extensions==1.1.0
mysqlclient==2.2.7
oauthlib==3.3.1
openpay==1.1
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
pycparser==2.23
PyJWT==2.10.1
pylint==3.3.8
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python3-openid==3.2.0
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
sqlparse==0.5.3
tomlkit==0.13.3
types-PyYAML==6.0.12.20250822
typing_extensions==4.14.1
urllib3==2.5.0
