{% extends "base.html" %}
{% block titulo %}
	{% block titulo_tabla %}{% endblock titulo_tabla %}
{% endblock titulo %}
{% block contenido %}
<div class="card shadow mb-4">
	<div class="card-header py-3">
		{% block card_header %}{% endblock card_header %}
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing=0>
				<thead>
					<tr>
						{% block thead %}{% endblock thead %}
					</tr>
				</thead>
				<tbody>
					{% block tbody %}{% endblock tbody %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock contenido %}
